 .ui-icon {
     background-image: none !important;
     line-height: 16px !important;
     text-indent: 0 !important;
     border-radius: 0;
     color: #616161;
 }
 
 .ui-icon:after {
     font-family: "jquery-ui";
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 
 .ui-widget-content .ui-icon {
     color: #616161;
 }
 
 .ui-widget-header .ui-icon {
     color: #898989;
 }
 
 .ui-state-default .ui-icon {
     color: #38667f;
 }
 
 .ui-state-hover .ui-icon,
 .ui-state-focus .ui-icon {
     color: #38667f;
 }
 
 .ui-state-active .ui-icon {
     color: #38667f;
 }
 
 .ui-state-highlight .ui-icon {
     color: #2e83ff;
 }
 
 .ui-state-error .ui-icon,
 .ui-state-error-text .ui-icon {
     color: #cd0a0a;
 }
 
 .ui-icon-blank:after {
     content: ' ';
 }
 /* Why? - because paginator items not only render the icon but also F, P, N, L inline */
 
 .ui-paginator .ui-paginator-next .ui-icon,
 .ui-paginator .ui-paginator-prev .ui-icon,
 .ui-paginator .ui-paginator-first .ui-icon,
 .ui-paginator .ui-paginator-last .ui-icon {
     color: transparent;
 }
 
 .ui-paginator a span:after {
     margin-left: -8px;
     color: #38667f;
 }